
/* StateFace web font: http://propublica.github.io/stateface/ (MIT License) */
@font-face {
	font-family: 'StateFaceRegular';
	src: url('../fonts/StateFace-Regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
 }

body {
	margin: 0;
	background: rgb(131,58,180);
	background: linear-gradient(315deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	font-family: 'Roboto', sans-serif;
	font-size: 1.25em;
	color: #fff;
	overflow: hidden;
}

html,
html a {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.container {
	position: relative;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	min-height: 420px;
}

.content {
	position: relative;
	top: -4em;
	right: -1em;
	transform: rotate(315deg);
	text-align: center;
}

.text-wrapper {
	position: relative;
	/*display: inline-block;*/
	padding-top: 0.2em;
	padding-right: 0.1em;
	padding-bottom: 0.1em;
	overflow: hidden;
}

.letter {
	transform-origin: 50% 100%;
	display: inline-block;
	line-height: 1em;
}

h1 {
	position: relative;
	margin: 0;
	font-family: 'Comfortaa', sans-serif;
	font-size: 5em;
	font-weight: 700;
	letter-spacing: -5px;
}

.text {
	position: relative;
	margin: -0.5em 0 0 0;
	padding-left: 1em;
	white-space: nowrap;
}

.texas {
	font-family: 'StateFaceRegular';
	font-size: 1.25em;
	vertical-align: middle;
}

.logos {
	position: relative;
	top: 0em;
	margin: 0 70px 0 0;
	padding: 0;
	list-style: none;
	z-index: 10;
	text-align: center;
}

.logos li {
	display: inline-block;
	vertical-align: middle;
	margin: 8px 16px;
}

.fade-in {
	opacity: 0;
	transition: opacity 0.2s ease-in;
}

#texas.show-texas.fade-in,
#logos.show-logos.fade-in {
	opacity: 1;
}

@media only screen and (max-width: 640px) {

	body {
		margin: 2em;
	}

	.container {
		display: block;
		top: 0;
	}

	.content {
		top: 0;
		left: 0;
		font-size: 0.8em;
		transform: none;
	}

	.logos {
		margin: 1.5em 0 0 0;
	}

}
